<ion-content>
<div class="list">
    <div class="item" style="color:black" ng-repeat="(key, value) in beacons">
        {{$index}}
        <div class="row">
            <div class="col truncate">
                {{value.uuid}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                major: {{value.major}}
            </div>
            <div class="col">
                minor: {{value.minor}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{value.rssi}}
            </div>
        </div>
    </div>
</div>

<button ng-click="clear()">
    Limpiar Informacion
</button>
{{infob}}
</ion-content>