<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
      <title></title>
      <link href="lib/ionic/css/ionic.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">
      <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
         <link href="css/ionic.app.css" rel="stylesheet">
         -->
      <!-- ionic/angularjs js -->
      <!--script src='//maps.googleapis.com/maps/api/js?sensor=false'></script-->
      <!--<script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false&libraries=geometry"></script>-->
      <script src="lib/ionic/js/ionic.bundle.js"></script>
      <script src='lib/lodash/lodash.js'></script>
      <script src='lib/angular-simple-logger/dist/index.js'></script>
      <script src="lib/angular-google-maps/dist/angular-google-maps.js"></script>
      <script src="lib/ngCordova/dist/ng-cordova.js"></script>

      <!-- cordova script (this will be a 404 during development) -->
      <script src="cordova.js"></script>
      <!-- your app's js -->
      <script src="js/app.js"></script>
      <script src="js/controller.js"></script>
      <script src="js/bluetooth.js"></script>
   </head>
   <body ng-app="starter" ng-controller="appController">
      <ion-side-menus>
         <!-- Center content -->
         <ion-side-menu-content>
            <ion-header-bar class="bar-positive">
               <h1 class="title">Bicirutas</h1>
            </ion-header-bar>
            <ion-content>
               <pre>{{accelera}}</pre>
               <ui-gmap-google-map center='map.center' zoom='map.zoom' control='map.control'>
                  <ui-gmap-marker idKey='marker.id' coords="marker.coords"></ui-gmap-marker>
               </ui-gmap-google-map>
               
               <label class="item item-input">
                 <span class="input-label">Calle</span>
                 <input type="text" ng-model="directions.destStreet">
               </label>

               <label class="item item-input">
                 <span class="input-label">Esquina</span>
                 <input type="text" ng-model="directions.destIntersect">
               </label>
               <div id="message">Hello.</div>
               <button class="button button-clear button-positive button-full" ng-click="getDirections()">
                 Buscar!
               </button>
               <button class="button button-clear button-positive button-full" id="connectButton">
                 Conectar!
               </button>  
            </ion-content>
         </ion-side-menu-content>
         <!-- Left menu -->
         <ion-side-menu side="left">
            <ion-header-bar class="bar-dark">
               <h1 class="title">Indicaciones</h1>
            </ion-header-bar>
            <ion-content>
               <div id="directionsList" ng-show="directions.showList" class="panel panel-primary"></div>
            </ion-content>   
         </ion-side-menu>
      </ion-side-menus>
      <script>
         app.initialize();
     </script>
   </body>
</html>